[submodule "extern/json"]
	path = extern/json
	url = https://github.com/nlohmann/json.git
[submodule "extern/cmakeHelpers"]
	path = extern/cmakeHelpers
	url = git@gitlab.cs.fau.de:basics/cmakeHelpers.git
